@page "/routing"

<div class="color">
    <h1 class="h1-header">Routing</h1>
</div>

<br />

<div>
    <a href="/layouts" class="previous round">&#8249;</a>
    <a href="/dependency-injection" class="next round">&#8250;</a>
</div>

@code {

}
