@page "/ExternalRazorClassLibrary"
@*@using MyTutorialRazorClassLibrary;*@

<h3>How To Consume External Razor Class Library</h3>

<br />

<h5>
    Below we are calling custom component created in razor class library
</h5>

<br />

<MyComponent>

</MyComponent>

@code {

}
